body {
    background-color: #674F99;
    color: #E8EEFE;
  font-family: "Concert One", sans-serif;
  font-weight: 400;
  font-style: normal;


}
/*grouping*/
h1, h2, h3, h4, h5, h6, p, ul, li, blockquote{
    margin:0;
}

header{
  font-family: "Rubik Dirt", system-ui;
  font-size: 53px;
  font-style: normal;
  text-shadow: 2px 2px 4px #000000;

    background-color: #674F99;
    text-align: center;
    border: 10px solid #B2A6CC;
    border-radius: 10px;
    padding: 30px; /* breathing room */
}
nav{
      font-family: "Moo Lah Lah", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 40px;
  margin:0;
  padding:0;
    background-color: #E8EEFE;
    border-radius: 10px;
    text-align: center;
    
}
/* descendant selector */
nav a {
    
    color: #4b0047;
    text-decoration: none;
    /* shorthand for margin top/bottom and margin left/right */
    margin: 0px 20px; 
    letter-spacing: 3px;
    text-shadow: 4px 4px #b9b8b8ad;
}
/* pseudo class selector */
nav a:hover {
color: rgb(183, 36, 158);
text-decoration: underline;
zoom: 120%;

}



main h2 {
    font-size: 54px;
    margin: 10px 0px;
}
main h3 {
    margin: 10px 0px;
    font-size: 30px;
}
main p {
    margin: 20px 0px;
        font-size: 18px;
}
p{
      
  font-family: "Yusei Magic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

img{
    box-shadow: 5px 7px #ddcfee;
    rotate: 90deg;
}
footer a:hover {
    text-decoration: underline;
zoom: 120%;
}