
@keyframes bounce{
  0% {
    transform: translateY(0);
  }
  50%{
    transform: translateY(-50px); /*moves 50 pixels up*/
  }
   100% {
    transform: translateY(0);/*moves back to starting 0*/
  }
}




/* border-box fix */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  /* remove margin and padding on body */
  padding: 0;
  margin: 0;
  background-color: #FFFFFF;
}

/* Grouping example */
h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
}
.wrapper {
  background: #FFFFFF;
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-template-rows: 80px 400px 200px auto auto;
}
.wrapper {
  background: #FFFFFF;
  width: 100%;
  margin: 0 auto;
}

/* padding on immediate children of wrapper */
.wrapper>* {
  padding: 20px;
}
nav {
  background: #FFFFFF;
  grid-column: 1 / 12; 
  grid-row: 1 / 2;        
  text-align: right;  
  font-size: 23px;
  margin-top: auto;
  font-family: "Wendy One", sans-serif;
  font-weight: 500;
  font-style: normal;
  
}
nav a{
  margin-left: 20px; 
}
nav a:hover{
  color: #f00000; 
}
.header{ /*trying to make seperate images*/
  background-image: url('images/climber4.jpg');
  background-size: cover;
  background-position: 25% 24%;
  grid-column: 1 / 13;
  grid-row: 2 / 4; 
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Wendy One", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.header2{
  background-image: url('images/equip.jpg');
  background-size: cover;
  background-position: 25% 24%;
  grid-column: 1 / 13;
  grid-row: 2 / 4; 
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Wendy One", sans-serif;
  font-weight: 500;
  font-style: normal;

}
.header3{
   background-image: url('images/rockclimbing3.jpg');
  background-size: cover;
  background-position: 25% 24%;
  grid-column: 1 / 13;
  grid-row: 2 / 4; 
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Wendy One", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.header, .header2, .header3 {
  grid-column: 1 / 13;
  grid-row: 2 / 4;
}
main {
  background: #FFFFFF;
  grid-column: 3 / 10;
  grid-row: 4 / 5; 
}
aside {
  background: rgb(44, 28, 28);
  grid-column: 10 / 13;
  grid-row: 3 / 5;
}


footer {
  background: #FFFFFF;
  grid-column: 1/13;
  grid-row: 5/6;
}



h1{
  font-size: 50px;
  text-align: center;
  height:40px;
  line-height: 40px;
  color:aliceblue;
  
}

.climbing h1{
  font-size: 50px;
  text-align: center;
  height:40px;
  color:rgb(22, 44, 63);
  text-decoration: underline overline #4f4e4e;
  font-size:100px;
  animation-name: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  
}
.rock h1{
  color: #4f4e4e;
  text-decoration: underline overline #162C3F;
  font-size:100px;
  animation-name: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.equipments h1 {
  color:#0D0D0D;
   animation-name: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
/*i unggrouped it */

.types{
text-decoration: none;
  color:#212020;
  text-align: right;
}
h2{
  font-family: "Wendy One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h3{
  font-style: bold;
}
p{
   font-family: "Playwrite DE Grund", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.bold {
  text-decoration: underline #000000;
}
