@keyframes bounce{
  0% {
    transform: translateY(0);
  }
  50%{
    transform: translateY(-5px); /*moves 50 pixels up*/
  }
   100% {
    transform: translateY(0);/*moves back to starting 0*/
  }
}



/* border-box fix */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  /* remove margin and padding on body */
  padding: 0;
  margin: 0;
  background-color: #FFFFFF;
}

/* Grouping example */
h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
}
.wrapper {
  background: #0e80e3;
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-template-rows: 80px 400px 200px auto auto;
}
.wrapper {
  background: #142C14;
  width: 100%;
  margin: 0 auto;
}

/* padding on immediate children of wrapper */
.wrapper>* {
  padding: 20px;
}
body {
  font-family: "Bungee Spice", sans-serif;
  font-size: 30px;
  font-style: normal;
  background-image: url("images/mountain.png");
  text-shadow: 2px 2px #623e36;   
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
nav {
  background: #2D5128;
  grid-column: 1 / 15; 
  grid-row: 1 / 2;        
  text-align: right;  
  font-size: 23px;
  margin-top: auto;
  font-family: "BBH Bogle", sans-serif;
  font-weight: 400;
  font-style: normal;
  
  
}
nav a{
  margin-left: 20px; 
 display: inline-block;
}
nav a:hover{
       animation-name: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  color: #E4EB9C;

}
.header{ /*trying to make seperate images*/
  background-image: url('images/climber4.jpg');
  background-size: cover;
  background-position: 25% 24%;
  grid-column: 1 / 13;
  grid-row: 2 / 4; 
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Sekuya", system-ui;
  font-weight: 400;
  font-style: normal;

}
.header2{
  background-image: url('images/equip.jpg');
  background-size: cover;
  background-position: 25% 24%;
  grid-column: 1 / 13;
  grid-row: 2 / 4; 
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
    font-family: "Sekuya", system-ui;
  font-weight: 400;
  font-style: normal;


}
.header3{
   background-image: url('images/rockclimbing3.jpg');
  background-size: cover;
  background-position: 25% 24%;
  grid-column: 1 / 13;
  grid-row: 2 / 4; 
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
    font-family: "Sekuya", system-ui;
  font-weight: 400;
  font-style: normal;
  color:#142C14;

}
.header, .header2, .header3 {
  grid-column: 1 / 13;
  grid-row: 2 / 4;
}
main {
  background: #142C14;
  color:#E4EB9C;
  grid-column: 3 / 10;
  grid-row: 4 / 5; 
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
aside {
  background: rgb(44, 28, 28);
  grid-column: 10 / 13;
  grid-row: 3 / 5;
}


footer {
  background: #537B2F;
  grid-column: 1/13;
  grid-row: 5/6;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;

}



h1{
  
  font-size: 50px;
  text-align: center;
  height:40px;
  line-height: 40px;
  color:rgb(253, 255, 240);
  
}
.gallery h1{
  color: #142C14;
}

.climbing h1{
  font-size: 50px;
  text-align: center;
  height:40px;
  color:#2D5128;
  text-decoration: underline overline #8DA750;
  font-size:100px;

  
}
.rock h1{
  color: #142C14;
  text-decoration: underline overline #537b53;
  font-size:100px;

}
.equipments h1 {
  color:#142C14;

}
/*i unggrouped it */

.types{
text-decoration: none;
  color:#212020;
  text-align: right;
}
h2{
  font-size: 35px;
  font-family: "BBH Bogle", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h3{
  font-family: "BBH Bogle", sans-serif;
  font-weight: 400;
  font-style: normal;
}
p{
   font-family: "Fira Sans", sans-serif;
  font-weight: 250;
  font-style: normal;

  
}

.bold {
  text-decoration: underline #000000;
}
/*button animation*/
.image-toggle {
    display: none;
    margin-top: 10px;
    
}
.toggle{
 border-radius: 5px; 
 border: none;
 background-color: #E4EB9C;
}
.toggle:hover {
  background-color: #45a049;  
  transform: scale(1.05);     
}
/*images under toggle*/
.image-container { /*flexbox*/
  max-width: 100%;
  display: flex;
  gap: 15px; 
  justify-content: left; 
  flex-wrap: wrap;
}
.image-container img {
   width: 250px; 
  max-width: 100%;
  height: auto;
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(228, 238, 22, 0.841);
  
} 
 .image-container img:hover {
      transform: scale(1.010); 
      opacity: 0.9;
 }
 /*shopping classes*/
 .product-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 30px;
  
 }
 .price{
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
   color: #2D5128;
  margin: 10px 0;
 } 
  

 .product {
  background-color: #fff;
  color: #537B2F;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 23%;
  text-align: center;
  text-shadow: none;
  
}
.product img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
.product img:hover{
  transform: scale(1.1); 
      opacity: 0.9;
}
button {
  background-color: #E4EB9C;
  color: #537B2F;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}


/*game */
#left-container {
	left: 0px;
}

#right-container {
	right: 0px;
}


.container {
	background-color: #2D5128;
	width: 15%;
	top: 0px;
	position: absolute;
	height: 100%;
	padding: 10px;
}

.plant-holder {
	position: relative;
	height: 13%;
	left: -10px;
	
}

.plant {
	position: absolute;
	max-width: 150%;
	max-height: 150%;
	z-index: 2;
}
/*button animation*/
.buttonAbsolute {
  background-color: #f00; 
  animation-name: backButtonAnimation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;

  border-radius: 5px;
  box-shadow: 5px 10px;
  width: 150px;
  position: absolute;
  top: 10px;
  right: 50px;
  text-align: center;
  text-decoration: none;
  font-family: "BBH Bogle", sans-serif;
  font-weight: 900;
  font-style: normal;
  padding: 10px;
  color: #212020;
}

.buttonAbsolute:hover {
  transform: scale(1.1);
}
@keyframes backButtonAnimation {
  0%   { background-color: #142C14; }
  25%  { background-color: #2D5128;  }
  50%  { background-color: #537B2F;  }
  100% { background-color: #45a049; }
}
.page-title {
font-family: "BBH Bogle", sans-serif;
  font-weight: 900;
  font-style: normal;
  color: #142C14;
}
/*gallery place*/
.gallery {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  gap: 30px;
  padding: 30px;
  justify-content: center;
}

.gallery-pics {
  width: 300px;
  border-radius: 16px;
  overflow: hidden;
}

.gallery-pics img {
  width: 100%;
  height: 400px;  
  display: block;
} 
.gallery-pics:hover img {
  transform: scale(1.05);
}
.gallery-title {
  text-align: center;         
  font-family: "BBH Bogle", sans-serif;
  font-weight: 900;
  color: #E4EB9C;
  margin-bottom: 30px;      
  letter-spacing: 2px;        
}
